<footer id="footer">
  <div class="row">
    <div class="col-12 text-center">
      <br>
      <a class="nav-link" href="http://www.facebook.com/puzzleduelsolversclub"><i class="fab fa-facebook"></i> www.facebook.com/puzzleduelsolversclub</a>
      <a class="nav-link" href="mailto://puzzleduel.club@gmail.com"><i class="fas fa-envelope-square"></i> puzzleduel.club@gmail.com</a>
      <a class="nav-link" href="#"><i class="fas fa-copyright"></i> Andrey Bogdanov</a>
    </div>
  </div>
</footer>
