<div id="alerts" style="position: relative;">
<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= error.msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= success_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if(error_msg != ''){ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% if(error != ''){ %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
</div>
<style>
  .message-overlap {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
</style>
<script>
  function showError(error, timeout){
    $("#alerts").append(
      "<div id='errorMessage' class='message-overlap alert alert-danger alert-dismissible fade show' role='alert'>" +
      error +
      "  <button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
      "    <span aria-hidden='true'>&times;</span>" +
      "  </button>" +
      "</div>")
    if (timeout) {
      setTimeout(() => $('#errorMessage').remove(), timeout);
    }
    return $('#errorMessage');
  }
  function showMessage(message, timeout, messageId){
    if (messageId && localStorage.getItem("message"+messageId)) {
      return null;
    }
    localStorage.setItem("message"+messageId,"closed");
    $("#alerts").append(
      "<div id='successMessage' class='message-overlap alert alert-success alert-dismissible fade show' role='alert'>" +
       message +
      "  <button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
      "    <span aria-hidden='true'>&times;</span>" +
      "  </button>" +
      "</div>")
    if (timeout) {
      setTimeout(() => $('#successMessage').remove(), timeout);
    }
    return $('#successMessage');
  }
</script>
