<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:image" content="images/logo.png" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <;link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css"/>
    <style>
      html {font-size: 100%;}
      svg text {cursor: default;}
    </style>
    <title>Puzzle duel</title>
  </head>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"
      integrity="sha256-oI+elz+sIm+jpn8F/qEspKoKveTc5uKeFHNNVexe6d8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
      integrity="sha256-1fEPhSsRKlFKGfK3eO710tEweHh1fwokU5wFGDHO+vg="
      crossorigin="anonymous"
    ></script>
    <script src="js/jquery.rateit.js"></script>
    <script>
      requirejs.config({baseUrl: 'js'});
    </script>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card">
<div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none; position: absolute; top: 0; left: 0; z-index: 100;">
  <span id="errorMessageText"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none; position: absolute; top: 0; left: 0; z-index: 100;"><span id="successMessageText"></span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h2 class="card-body pt-0 pb-0 mb-0"><%= puzzle.type.name %></h2>
<p class="card-body text-right pb-0 pt-0 mb-0"><small>Author: <%= puzzle.author %></small></p>
<svg id="mainGrid"
     class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  Sorry, but your browser is not supported. Try to setup the new version.
</svg>
<div class="row card-body pb-1" id="puzzleControls">
  <div class="col-8">
    <div class="d-flex flex-row flex-wrap">
      <div class="modal" name="restartModal">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-body">
              <p>Do you want to restart the puzzle? All progress will be lost!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" name="confirmYes">Yes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" name="voteModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content alert-success show" '>
            <div class="modal-header">
               <p class="mb-0"><%= __('Congratulations! The puzzle has been solved correctly!!') %></p>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <% if(user && !puzzle.authorId.equals(user._id) ) { %>
            <div class="modal-body">
              <p><%= __('You can rate the quality of the puzzle') %><br>
              <span name="voteRating" class="rateit" data-rateit-resetable="false" data-rateit-step="1" data-rateit-starwidth="32" data-rateit-starheight="32"></span>
              </p>
              <div class="form-group">
                <label><%= __('You can add a comment for the puzzle author. It will be shown anonymously.') %></label>
                <textarea class="form-control rounded-0" name="voteComment" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" name="voteSave"><%= __('Save') %></button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal" name="voteClose"><%= __('Close') %></button>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <button name="startBtn" type="button" class="btn btn-primary mb-3 mr-3">Start</button>
      <button name="revertBtn" type="button" class="btn btn-primary mb-3 mr-3" style="display: none;">Undo</button>
      <div class="mt-1 mr-3" name="pencilMarkCtrl" style="display: none;">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" name="pencilMarkCb"
                 id="pencilMarkCb">
          <label class="custom-control-label"
                 for="pencilMarkCb">
            Pencil-marks
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="d-flex flex-row-reverse flex-wrap">
      <button name="checkBtn" type="button" class="btn btn-primary mb-3 ml-3">Check</button>
      <span name="timer" class="align-top" style="font-family: Lucida Console; font-size: 130%; display: none;"></span>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap card-body pt-0" id="puzzleRules">
  <div class="col-lg-4">
    <span class="puzzle-figures w-100 d-block" theme="default" figures="pento" set="XXXXXX"></span>
  </div>
  <div class="col-lg-8">
    <p class="card-text text-left mt-2 w-100">Shade some empty cells black to create a single connected wall. No 2x2 square can be completely shaded. Numbers in a cell indicate the length of consecutive shaded blocks in the neighboring cells. If there is more than one number in a cell, then there must be at least one white (unshaded) cell between the black cell groups.></p>
    <p class="card-text text-left mt-1"><b>Grid control</b>:
      Click at a cell reveals the value chooser. Click at the selected value changes the state of the cell.
      More details about grid control are at the <a href='/help'>help page</a>.
    </p>
  </div>
</div>
<script src="js/locale_ru.js"></script>
<script src="js/puzzle_figures.js"></script>
<script>
  function showPuzzle() {
    var controls = "#puzzleControls";
    var puzzleData = {
      typeCode: "sudoku_extra_regions",
      id: "puzzle.code",
      dimension: "6x6"
    };
    var settings = {
      local: true,
      data: {
    "a1": "-1",
    "b1": "-",
    "e1": "-",
    "f1": "-6",
    "a2": "-",
    "b2": "-",
    "c2": "3",
    "d2": "1",
    "e2": "-",
    "f2": "-",
    "a3": "-",
    "b3": "-2",
    "e3": "-5",
    "f3": "-",
    "b4": "1",
    "e4": "4",
    "c5": "-",
    "d5": "-",
    "a6": "2",
    "b6": "-",
    "c6": "-",
    "d6": "-",
    "e6": "-",
    "f6": "5",
    "tag": ""
}
    };
    settings.theme = "contrast";
    var grid = "#mainGrid"
    requirejs(["sudokupuzzle"], function() {
      puzzle = new sudokuPuzzleType(puzzleData, controls, settings);
      puzzle.render(Snap(grid));
    });
  }
</script>
      </div>
      <script>
        $(document).ready(function () {
          showPuzzle();
        });
      </script>
      <div class="card card-body">
      </div>
    </div>
  </div>
</div>
  </body>
</html>
