<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:image" content="images/logo.png" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="localcache/all.css">
    <link rel="stylesheet" href="localcache/bootstrap-glyphicons.css">
    <;link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <;link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
    <link rel="stylesheet" href="localcache/bootstrap.min.css"/>
    <style>
      html {font-size: 100%;}
      svg text {cursor: default;}
    </style>
    <title>Local edit puzzle</title>
  </head>
  <body>
    <script src="localcache/jquery-3.4.1.min.js"></script>
    <script src="localcache/popper.min.js"></script>
    <script src="localcache/bootstrap.min.js"></script>
    <script src="localcache/snap.svg-min.js"></script>
    <script src="localcache/require.min.js"></script>
    <script>
      requirejs.config({baseUrl: 'js'});
    </script>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
        <div class="card">
<div class="card" id="editControls" >
<h2 class="card-body"><%= puzzle.type.name %> (Edit mode)</h2>
<svg id="mainGrid" class="col-xs-12 text-center" style="overflow: visible; z-index: 90;">
  Sorry, but your browser is not supported. Try to setup the new version.
</svg>
<div class="row card-body" >
  <div class="col-4 text-left">
    <button name="revertBtn" type="button" class="btn btn-primary">Undo</button>
  </div>
  <div class="col-8 text-right">
    <select class="custom-select" name="tag" style="width: 150px" >
      <option value=""></option>
      <option value="daily">Daily</option>
      <option value="example">Example</option>
    </select>
    <button name="saveBtn" type="button" class="btn btn-primary">Save</button>
  </div>
</div>
</div>
<script src="js/locale_ru.js"></script>
<script>
  function showPuzzle() {
    var puzzleData = {
      typeCode: "half_cut",
      id: "puzzle.code",
      dimension: "5x4"
    };
    var settings = {
      local: true,
      data:  {}
    };
    settings.theme = "default";
    requirejs(["slashpuzzle"], function() {
      puzzle = new slashPuzzleType(puzzleData, "#editControls", settings);
      puzzle.render(Snap("#mainGrid"));
      puzzle.edit();
    });
  }
</script>
          <a class="text-right pb-2" href="/single/<%= puzzle.code %>">Open solving window</a>
        </div>
      </div>
        <script>
          $(document).ready(function () {
            showPuzzle();
          });
        </script>
    </div>
  </div>
</div>
  </body>
</html>
