<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Sorry the website is not working now due to unexpected issue. Please, try again later.
        <br><br>
        We apologize for the inconvinience. Please write to <a href="mailto:puzzleduel.club@gmail.com">puzzleduel.club@gmail.com</a> if the issue affected you solving progress.
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

