<%- include ('./partials/navbar') %>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script>
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <div class="card">
        <h1 class="card-header">Справка</h1>
        <div class="accordion" id="mainAccordion">
          <div class="card">
            <div class="card-header" id="siteStructureHeading">
              <button class="btn btn-link" type="button"
                data-toggle="collapse" data-target="#siteStructureCollapse"
                aria-expanded="true" aria-controls="siteStructureCollapse"
              >
                <h2>Структура сайта</h2>
              </button>
            </div>
            <div id="siteStructureCollapse" class="collapse show" aria-labelledby="siteStructureHeading" data-parent="#mainAccordion">
              <p class="card-body">
              Основной язык сайта - английский. Часть содержимого может быть не переведена на русския язык.
              Каждый день на главной странице публикуется одна новая соревновательная головоломка.
              Время, потраченное на решение этой головоломки, фиксируется  включено в <a href="/archive/scores">таблицу результатов</a>.
              Чтобы решать эту головоломку необходимо <a href="/users/register">зарегистртироваться</a> и <a href="/users/login">войти</a> в свою учйтную запись.
              Регистрация бесплатна. Адрес электронной почты необходим для восстановления пароля, если он забыт.
              Задача остается зачётной в течение пяти дней, после чего становится доступной для решения без регистрации.
              <br>
              <br>
              Список всех задач за прошлые дни доступен на <a href="/archive">странице архива</a>.
              Там вы также можете увидеть лучшее время решения каждой задачи и посмотреть таблицу результатов.
              <br>
              <br>
              На базе времени решения задач дня рассчитывается рейтинг решателей.
              Рейтинг пересчитывается раз в неделю и отражает текущий уровень результатов решателя.
              Еженедельный рейтинг за дату X основан на задачах дня всех дней между X-7 и X-1.
              Первоначальный расчёт рейтинга - предварительный. Окончательные значения доступны когда все задачи соответствующей недели становятся несоревновательными.
              Подробнее о расчйте рейтнга читайте в соответствующем разделе справки.
              На <a href="/rating">странице рейтинга</a> можно увидеть последнее значение рейтинга, а также изменения за неделю.
              При наведении мышки на значение недельного изменения можно увидеть детали расчёта.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="gameControlHeading">
              <button class="btn btn-link" type="button"
                data-toggle="collapse" data-target="#gameControlCollapse"
                aria-expanded="true" aria-controls="gameControlCollapse"
              >
                <h2>Как решать задачи</h2>
              </button>
            </div>
            <div id="gameControlCollapse" class="collapse" aria-labelledby="gameControlHeading" data-parent="#mainAccordion">
              <p class="card-body">
              На странице с задачей сетка соответствующего размера и условия задачи доступны до начала решения.
              Прочитайте условие внимательно, чтобы понять все ключевые требования.
              <br>
              <br>
              При нажатии на кнопку "Старт" задающие цифры и знаки появляются в сетке и запускается таймер.
              Учитывайте, что таймер на странце только для вашей информации. Время начала решения записывается,
              если перезагрузить страницу и начать заново, то в <a href="/archive/scores">таблице результатов</a>
              будет отражено время основаное на первом нажатии кнопки "Старт".
              <br>
              <br>
              Кнопка "Сначала" позволяет удалить все изманения в сетке и начать решение сначала, но время решения не обнуляется.
              <br>
              <br>
              Кнопка "Проверить" отправляет решение задачи на проверку.
              Если решение правильное, то таймер останавлиается и время записывается.
              Если в решении есть ошибки, то появляется соответствующее сообщение об ошибке и неверно заполненные ячейки в
              сетке отмечаются. Вы можете исправить ошибки и отправить решение снова.
              Количество попыток не ограничено, но отображается в таблице результатов.
              <br>
              <br>
              Кнопка "Отменить" позволяет отменить последние сделанные изменения в сетке в обратном порядке.
              <br>
              <br>
              После успешного завершения решения задачи вы можете решать её снова любое число раз без отражения в таблице результатов.
              Старые задачи, доступные в <a href="/archive">архиве</a> также не влияют на таблицу результатов и
              могут быть решены без регистрации.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="gridControlHeading">
              <button class="btn btn-link collapsed" type="button"
                data-toggle="collapse" data-target="#gridControlCollapse"
                aria-expanded="false" aria-controls="gridControlCollapse"
              >
                <h2>Управление</h2>
              </button>
            </div>
            <div id="gridControlCollapse" class="collapse" aria-labelledby="gridControlHeading" data-parent="#mainAccordion">
              <p class="card-body">
              Состояние ячеек сетки может быть изменено с помощью мыши или сенсорного экрана. Управление с клавиатуры не поддерживается.
              <br>
              <br>
              Для задач в которых ячейки допускают только одно возможно значение (например, мина в задаче Minesweeper) достаточно
              щёлкнуть кнопкой мыши на выбранной ячейке, чтобы изменить состояние ячейки. Повторный щелчок отмечает ячейку как пусту..
              Третий щелчок возвращает ячейку в начальное состояние.
              <br>
              <br>
              Если ячейки допускают много возможных значений (например, Sudoku), то щелчок на ячейке открывает панель выбора значения.
              Щелчок на выбранном значении устанавливает значение ячейки.
              Для очистки ячейки в панели выбора есть специальный пустой элемент.
              <br>
              <br>
              Чтобы выбирать значения быстрее можно использовать технику одного щелчка. Для этого надо нажать кнопку мыши на 
              соответствующей ячейке, удерживая кнопку переместить к нужному значению и отпустить кнопку.
              <br>
              <br>
              В задачах, требующих рисования линии, нужно нажать кнопку мыши в ячейки, где линия начинается и переместить
              мышь в конечную ячейку, не отпуская кнопки. По достижении конечной ячейки можно продолжать рисование к следующей ячейке.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pencilMarksHeading">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button"
                  data-toggle="collapse" data-target="#pencilMarksCollapse"
                  aria-expanded="false" aria-controls="pencilMarksCollapse"
                >
                  <h2>Пометки</h2>
                </button>
              </h2>
            </div>
            <div id="pencilMarksCollapse" class="collapse" aria-labelledby="pencilMarksHeading" data-parent="#mainAccordion">
              <p class="card-body">
              Управление сеткой можно переключить из обычного режима в режим "Пометок".
              В этом режиме те же операции с мышью не меняют состояние ячеек, я устанавливают маленькие пометки в них.
              В задачах на рисование линий пометки отображаются, как тонкая прерывистая линия.
              Не забывайте, что пометки могут быть использованы только для вашего удобства и никак не учитываются
              при проверке решения задачи.
              <br>
              <br>
              Пометки можно ставить поверх уже заполненных ячеек, но установка нового значения в ячейке удаляет все пометки из неё.
              <br>
              <br>
              На пометки также не действеут кнопка "Отменить". Эта кнопка отменяет только реальные значения в ячейках.
              Кнопка "Сначала" удаляет все поетки из сетки.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="ratingHeading">
              <button class="btn btn-link" type="button"
                data-toggle="collapse" data-target="#ratingCollapse"
                aria-expanded="true" aria-controls="ratingCollapse"
              >
                <h2>Расчёт рейтинга</h2>
              </button>
            </div>
            <div id="ratingCollapse" class="collapse" aria-labelledby="ratingHeading" data-parent="#mainAccordion">
              <p class="card-body">
              Недельный рейтинг на дату X включает результаты по всем задачам за дни от X-7 до X-1.
              Время решателя по каждой задаче преобразуется в рейтингове очки используя формулу:
              $$рейтинговыеОчки = 2000 - 500 * log_2 ({{времяРешения \over среднееВремя} + числоОшибок}),$$
              где <i>среднееВремя</i> это время среднего в таблице участника, решившего задачу без ошибок.
              Если участник начал решать задачу, но не закончил её, то назначается 0 рейтинговых очков.
              <br>
              <br>
              Усредненное значение рейтинговых очков за все задачи недели определяет "мгновенный" рейтинг участника.
              Новый рейтинг расчитывается, как смещение старого рейтинга в сторону мгновенного рейтинга:
              $$новыйРейтинг = старыйРейтинг + (мгновенныйРейтинг - старыйРейтинг)^{0.66},$$
              Если участник решает только часть задач недели, то увеличение рейтинга соответствующим образом нормируется.
              За каждую решенную задачу применяется одна седьмая полного увеличения.
              Специальный бонус используется для новичков - так как у них нет предыдущего значения рейтинга,
              прибавка рейтинга искусственно увеличивается, чтобы быстрее выйти на стабильный уровень рейтинга.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

