<%- include ('./partials/navbar') %>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <div class="card">
        <h1 class="card-header">Help page</h1>
        <div class="accordion" id="mainAccordion">
          <div class="card">
            <div class="card-header" id="siteStructureHeading">
              <button class="btn btn-link" type="button"
                data-toggle="collapse" data-target="#siteStructureCollapse"
                aria-expanded="true" aria-controls="siteStructureCollapse"
              >
                <h2>Site structure</h2>
              </button>
            </div>
            <div id="siteStructureCollapse" class="collapse show" aria-labelledby="siteStructureHeading" data-parent="#mainAccordion">
              <p class="card-body">
              Every day new competitive puzzle is published at our site.
              Solving time for this puzzle is recorded and included to the <a href="/archive/scores">scores table</a>.
              To solve the puzzle user must <a href="/users/register">register</a> and <a href="/users/login">log in</a> at the site.
              Registration is totally free. Email is required to be able to restore password in case it is forgotten.
              The puzzle remains competitive for five days and after that becomes free and available without registration.
              <br>
              <br>
              List of all puzzles from previous days are available at our <a href="/archive">archive page</a>.
              You can also see the best solving time there and check score tables for all the puzzles.
              <br>
              <br>
              Solvers rating is computed based on solving time of daily competitive puzzles.
              Rating is recomputed once per week and reflects the current performance of users.
              Weekly rating for date X is based on all daily puzzles published between dates X-7 and X-1.
              Initial rating calculations are preliminary and finalized when all affecting puzzles become noncompetitive.
              See "Rating calculation" section for detailed rating formulas.
              At the <a href="/rating">rating page</a> you can see the latest value of the rating and the change during the week.
              Moving mouse over weekly change number you can see change details per puzzle.
              <br>
              <br>
              The users solving path for competitive puzzles is preserved and accessible to all site visitors once the puzzle
              transitions to a noncompetitive state. This provides an opportunity to acquaint yourself with the solution
              techniques used by fellow solvers.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="gameControlHeading">
              <button class="btn btn-link" type="button"
                data-toggle="collapse" data-target="#gameControlCollapse"
                aria-expanded="true" aria-controls="gameControlCollapse"
              >
                <h2>Game control</h2>
              </button>
            </div>
            <div id="gameControlCollapse" class="collapse" aria-labelledby="gameControlHeading" data-parent="#mainAccordion">
              <p class="card-body">
              When you open a puzzle window the grid size and the puzzle rules are available before you start solving.
              Read rules carefully to be aware of all the important puzzle conditions.
              <br>
              <br>
              When you press "Start" button the puzzle clues are revealed and timer starts.
              Remember that timer at the screen is only for your information.
              Real start time is recorded internally and if you reload page
              and start the puzzle again then your score displayed at the
              <a href="/archive/scores">scores page</a> is computed based on time when
              you start the puzzle for the first time.
              <br>
              <br>
              "Restart" button allows you to remove all the progress made in the puzzle and start from the very beginning.
              But it doesn't restart the solving time.
              <br>
              <br>
              "Check" button examines the solution in the grid to correspond to all puzzle rules and, if the solution is correct,
              stops the timer and records the solving time.
              If there are some mistakes in the solution then error message notifies about one broken condition
              and corresponding puzzle cells are marked in the grid. You can fix the solution and submit it again.
              Number of submission is not limited, but recorded and displayed in the scores table.
              <br>
              <br>
              "Undo" button allows you to revert changes made in the grid one by one in reverse order.
              <br>
              <br>
              After successful submission of the puzzle you can start it again as many times as you want without any effects
              on your score. Old puzzles available at <a href="/archive">archive page</a> can be solved without registration
              and without changes in score table.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="gridControlHeading">
              <button class="btn btn-link collapsed" type="button"
                data-toggle="collapse" data-target="#gridControlCollapse"
                aria-expanded="false" aria-controls="gridControlCollapse"
              >
                <h2>Grid control</h2>
              </button>
            </div>
            <div id="gridControlCollapse" class="collapse" aria-labelledby="gridControlHeading" data-parent="#mainAccordion">
              <p class="card-body">
              You can change the state of the grid cells by using mouse or touch screen. Keyboard control is not supported.
              <br>
              <br>
              For puzzles accepting only a single state for the cell (like a mine in Minesweeper puzzle) click the mouse button at the
              selected cell to change the content of the cell. Second click to the same cell marks the cell as empty.
              Third click returns the cell to the initial state.
              <br>
              <br>
              For puzzles accepting multiple cell values (as Sudoku puzzle) click on the cell reveals the value chooser.
              Click on the selected value changes the state of the cell.
              You also can remove the cell value by choosing the empty holder in the value chooser.
              <br>
              <br>
              To speed up the solving you can select value in one click. Press the mouse button at the selected cell and
              then holding the button move the mouse to the right option and release the button.
              <br>
              <br>
              For puzzles requiring drawing a line press the mouse button at the start cell of the line
              and move mouse to another cell holding the button. After reaching the finish cell you can continue drawing to the next.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="pencilMarksHeading">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button"
                  data-toggle="collapse" data-target="#pencilMarksCollapse"
                  aria-expanded="false" aria-controls="pencilMarksCollapse"
                >
                  <h2>Pencil marks</h2>
                </button>
              </h2>
            </div>
            <div id="pencilMarksCollapse" class="collapse" aria-labelledby="pencilMarksHeading" data-parent="#mainAccordion">
              <p class="card-body">
              You can switch the grid from "Normal" to "Pencil mark" mode.
              In this mode the same mouse operations do not change state of the cells,
              but instead put small notes (pencil marks) to the cells.
              In line-drawing puzzles the pencil marks look like thinner dashed line.
              Remember that these pencil marks are used only for solving convenience and are not considered for puzzle submission.
              <br>
              <br>
              You can put pencil marks on top of already filled cell, but setting the value of the cell in "Normal" mode deletes
              all pencil marks from it.
              <br>
              <br>
              Pencil marks are not affected by the "Undo" button - this button reverts only main values in the cells.
              But "Restart" button cleans all the pencil marks in the grid.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="ratingHeading">
              <button class="btn btn-link" type="button"
                data-toggle="collapse" data-target="#ratingCollapse"
                aria-expanded="true" aria-controls="ratingCollapse"
              >
                <h2>Rating calculation</h2>
              </button>
            </div>
            <div id="ratingCollapse" class="collapse" aria-labelledby="ratingHeading" data-parent="#mainAccordion">
              <p class="card-body">
              Weekly rating for date X is based on all daily puzzles published between dates X-7 and X-1.
              Performance of a solver for each puzzle is first converted to rating points using the next formula:
              $$ratingPoints = 2000 - 500 * log_2 ({{solvingTime \over medianTime} + errorCount}),$$
              where <i>medianTime</i> is a median solving time without errors for this puzzle among all users.
              If a solver started but hasn't finished the puzzle the zero rating points is assigned
              <br>
              <br>
              The average of rating points of individual puzzles shows the instant weekly rating.
              The new rating value is calculated as previous value moved towards this instant value:
              $$newRating = oldRating + (instantRating - oldRating)^{0.66},$$
              If user solves only part of weekly puzzles, then the rating increase for the week is reduced correspondingly.
              For each of the solved puzzles one seventh of the increase is applied.
              Special bonus is applied for newcomers - since their previous rating value is not defined, the change increases
              to come to stable rating values faster.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('.collapse').on('shown.bs.collapse', function(e) {
      var $card = $(this).closest('.card');
      $('html,body').animate({scrollTop: $card.offset().top},500);
    });
  });
</script>
<%- include ('./partials/footer') %>

