<%- include ('./partials/navbar') %>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 m-auto">
      <%- include ('./partials/messages') %>
      <% if(puzzle){ %> 
        <div class="card">
          <h1 class="card-body pb-0 pt-0">Daily puzzle</h1>
          <%- include ('./partials/puzzle') %>
        </div>
        <script>
          $(document).ready(function () {
            showPuzzle();
            showMessage("<br>A new feature is added for solving puzzles - pencil marks. <br>"+
              "Pencil marks allow you to put additional notes into the puzzle cells while solving, "+
              "but they are ignored for puzzle submission. <br><br>"+
              "Read more at our <a href='/help'>help page</a><br><br>",
              null,"2020-04-07");
          });
        </script>
      <% } %>
      <div class="card card-body">
        <p>The puzzle above is a current daily puzzle. This puzzle is competitive and you have to register to solve it and participate in the daily competition. To register click <a href="/users/login">Login</a> link in the top right corner.</p>
        <p>You can use the scores page to see the results of other competitors for this puzzle.</p>
        <p>All the puzzles from the prvious days are available at our <a href="/archive">archive page</a>. Puzzles which are older than 5 days can be attempted without registration.</p>
      </div>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>

